.corp{
    background-color: #000;
}
.corp-op{
    background-color: #fff8dc;
}
.principal{
    padding: 3px;
}
.bg-dger{
    background-color: #565050 !important;
    border-bottom: 1px solid  #ffc500 !important;
}
.navbar-toggler-icon{
    color: #fff !important;
}
.bd-dger-white{
    border-bottom: 7px solid  #ffc500 !important;
}
.bg-dger-white{
    background-color: #fff !important;
}
.bg-dger{
    border: 2px solid #000;
 
}
.block-forms{
    margin-top: 15px !important;
}
.monformulaire{
     margin: 0 15px !important;
}
.mon-nav-pills{
    padding: 0px !important;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,197,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  
.navbar-toggler:visited {
    border-color: rgb(255,197,0, 0.5) !important;
} 
.navbar-toggler:active {
    border-color: rgb(255,197,0, 0.5) !important;
}
.navbar-toggler {
    border-color: rgb(255,197,0, 0.5) !important;
} 
.menuPrincipal > a{
    text-decoration: none;
    color: #fff;
}
.nav-item > a:hover{
    color: #ffc500;
}
.menuactif{
    border-bottom: 5px Solid #ffc500 !important;
    /*exemple*/
}
.navbar-nav{
    margin-top: 5px;
}
label{
    margin-right: 5px !important;
}
.btn-danger > a{
    text-decoration: none;
    color: #fff;
}
