*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../image/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.monformulaire{
    margin-top: 10%;
    margin-left: 80px;
    margin-right: 80px;
    padding: 15px;
    padding: 30px !important;
    background-color: #fff;
}
.monformulaire2{
    margin-top: 2%;     
    background-color: #fff;
}
.form-control-dangerview{
    border-radius: 0px !important;
    background-color: #F9F6F6 !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-top-style: none !important;
    border-bottom-style: #565050 !important ;
}
.row-form{
    margin-top: 30px;
}
.btn-outline-secondary{
    border-radius: 0% !important;
}